name: Build iOS IPA

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-13

    steps:
      - uses: actions/checkout@v3

      - name: Install Flutter
        run: |
          git clone https://github.com/flutter/flutter.git -b stable
          echo "$PWD/flutter/bin" >> $GITHUB_PATH
          flutter --version

      - run: flutter pub get
      - run: flutter build ios --release --no-codesign

      - run: |
          mkdir -p Payload
          cp -R build/ios/iphoneos/Runner.app Payload
          zip -r Runner.ipa Payload

      - uses: actions/upload-artifact@v4
        with:
          name: ipa
          path: Runner.ipa
